server:
  port: 8080
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keystore/samplekey.p12
    key-store-password: ${KEY_STORE_PASSWORD}
    key-alias: samplekey
    enabled: true

spring:
  data:
    mongodb:
      uri: ${MONGO_URL:mongodb://localhost:27017}
      database: jchat